#colophon{
  font-size : 1.2rem;
  color : #9fa2ac;
  background-color : #343740;
}

#content{
  min-height : 50px;
}

#masthead{
  font-size : 1.2rem;
  color : #ffffff;
  background-color : #343740;
}

#page{
  font-size : 1.6rem;
}

*{
  box-sizing : border-box;
  
}

.screen-reader-text{
  display : none;
}

.sp-block-container{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
}

.sp-block-container > h1{
  font-size : 2.4rem;
}

.sp-block-container > h2{
  font-size : 1.8rem;
}

.sp-block-container > h3{
  font-size : 1.5rem;
}

.sp-block-container > h4{
  font-size : 1.4rem;
}

.sp-block-container > h5{
  font-size : 1.3rem;
}

.sp-block-container > h6{
  font-size : 1.1rem;
}

.sp-block-container > hr{
  color : #e2e2e2;
  margin-top : 25px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 30px;
  border-top-width : 1px;
  border-left-width : medium;
  border-right-width : medium;
  border-bottom-width : medium;
  border-top-style : solid;
  border-left-style : none;
  border-right-style : none;
  border-bottom-style : none;
  border-top-color : #e2e2e2;
  border-left-color : initial;
  border-right-color : initial;
  border-bottom-color : initial;
  height : 1px;
}

.sp-block-container > p{
  font-size : 1.3rem;
  line-height : 1.5;
  text-align : justify;
  padding-left : 0.1em;
  padding-right : 0.1em;
  margin-top : 0.5em;
  margin-bottom : 1.5em;
  text-justify : inter-ideograph;
}

.sp-block-container > p.indent{
  padding-left : 1em;
}

.sp-block-container > p.large{
  font-size : 1.2em;
}

.sp-bread-crumb div{
  padding-bottom : 10px;
  margin-top : 10px;
  margin-right : 10px;
  width : auto;
  display : inline-block;
}

.sp-button{
  width : 122px;
}

.sp-button a{
  text-decoration : none;
  text-align : center;
  padding-top : 6px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 6px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #f0f0f0;
  border-left-color : #f0f0f0;
  border-right-color : #f0f0f0;
  border-bottom-color : #f0f0f0;
  border-top-left-radius : 5px 5px;
  border-top-right-radius : 5px 5px;
  border-bottom-right-radius : 5px 5px;
  border-bottom-left-radius : 5px 5px;
  height : 100%;
  display : block;
  box-sizing : border-box;
}

.sp-button a:hover{
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #d8d8d8;
  border-left-color : #d8d8d8;
  border-right-color : #d8d8d8;
  border-bottom-color : #d8d8d8;
}

.sp-column.accordion > .column-label h3::after{
  border-top-width : 5px;
  border-left-width : 6px;
  border-right-width : 6px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-top-color : rgba(255, 255, 255, 0.45);
  border-left-color : transparent;
  border-right-color : transparent;
  width : 0px;
  height : 0px;
  display : block;
  position : absolute;
  top : 0.5em;
  right : 0px;
  content : "";
}

.sp-column.toggled-on > .column-label h3::after{
  display : none;
}

.sp-column.toggled-on > .column-label h3::before{
  border-left-width : 6px;
  border-right-width : 6px;
  border-bottom-width : 5px;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-left-color : transparent;
  border-right-color : transparent;
  border-bottom-color : rgba(255, 255, 255, 0.45);
  width : 0px;
  height : 0px;
  display : block;
  position : absolute;
  top : 0.5em;
  right : 0px;
  content : "";
}

.sp-column > .column-body{
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
}

.sp-definition-list > dd{
  margin-left : 94px;
  margin-bottom : 25px;
}

.sp-definition-list > dt{
  padding-top : 5px;
  padding-left : 25px;
  padding-right : 0px;
  padding-bottom : 5px;
  margin-bottom : 10px;
}

.sp-form input{
  font-size : 1.4rem;
  font-family : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
}

.sp-form input[type="date"]{
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
  width : 90%;
}

.sp-form input[type="radio"]{
  vertical-align : middle;
  width : 20px;
}

.sp-form input[type="submit"]{
  font-size : 1.4rem;
  color : #555555;
  background-color : #dcdada;
  padding-top : 5px;
  padding-left : 8px;
  padding-right : 8px;
  padding-bottom : 5px;
  margin-top : 15px;
  width : auto;
  min-width : 100px;
  float : right;
  position : relative;
  cursor : pointer;
}

.sp-form input[type="text"]{
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
  width : 90%;
}

.sp-form table{
  border-top-width : 1px;
  border-left-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-top-color : #000000;
  border-left-color : #000000;
  width : 100%;
  border-collapse : collapse;
  border-spacing : 0px 0px;
}

.sp-form td{
  color : #000000;
  background-color : #ffffff;
  padding-top : 5px;
  padding-left : 18px;
  padding-right : 18px;
  padding-bottom : 5px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-right-style : solid;
  border-bottom-style : solid;
  border-right-color : #000000;
  border-bottom-color : #000000;
  width : auto;
}

.sp-form textarea{
  font-size : 1.4rem;
  font-family : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
  width : 90%;
  height : 150px;
}

.sp-form th{
  font-weight : normal;
  color : #000000;
  background-color : #f4f4f4;
  text-align : left;
  padding-top : 5px;
  padding-left : 18px;
  padding-right : 18px;
  padding-bottom : 5px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-right-style : solid;
  border-bottom-style : solid;
  border-right-color : #000000;
  border-bottom-color : #000000;
  width : auto;
  min-width : 50px;
}

.sp-google-map{
  max-width : 100%;
  word-wrap : normal;
}

.sp-google-map img{
  max-width : none !important;
}

.sp-item-gallery.grid > ul > li{
  overflow : hidden;
}

.sp-item-gallery.masonry > ul > li{
  height : auto !important;
}

.sp-item-gallery > ul > li > div img.item-gallery-thumbnail{
  max-width : 100%;
}

.sp-list{
  padding-right : 1em;
  margin-bottom : 1.5em;
  list-style-position : inside;
}

.sp-list > li{
  text-align : justify;
  padding-top : 6px;
  padding-bottom : 6px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  text-justify : inter-ideograph;
}

.sp-page-title > h1{
  font-size : 1.8rem;
  font-weight : bold;
}

.sp-part-top{
  display : block;
  position : relative;
  box-sizing : border-box;
}

.sp-part-top:not(table)::after{
  clear : both;
  display : table;
  content : "";
}

.sp-site-branding2 .site-description{
  font-size : 1rem;
  font-weight : normal;
  color : #929292;
}

.sp-site-branding2 > .extra{
  display : none;
}

.sp-site-branding2 > .site-description{
  display : none;
}

.sp-site-navigation{
  color : black;
  background-color : white;
}

.sp-site-navigation .menu-toggle{
  display : none;
  cursor : pointer;
}

.sp-site-navigation.vertical{
  font-size : 1.3rem;
  border-top-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-bottom-style : solid;
  border-top-color : #d2c9b8;
  border-bottom-color : #d2c9b8;
  width : 100%;
}

.sp-site-navigation.vertical ul{
  line-height : 30px;
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  list-style-type : none;
  list-style-position : outside;
}

.sp-site-navigation.vertical ul li.current-menu-ancestor > a{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li.current-menu-item > a{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li.current_page_ancestor > a{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li.current_page_item > a{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li > a{
  text-decoration : none;
  padding-top : 10px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 10px;
  display : block;
}

.sp-site-navigation.vertical ul li > a:active{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li > a:hover{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul ul li > a{
  padding-top : 10px;
  padding-left : 40px;
  padding-right : 40px;
  padding-bottom : 10px;
}

.sp-site-navigation.vertical > ul{
  margin-top : 0px;
  margin-left : auto;
  margin-right : auto;
  margin-bottom : 0px;
  width : 100%;
}

.sp-site-navigation.vertical > ul > li{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  width : 100%;
}

.sp-site-navigation.vertical > ul > li:hover > ul{
  display : block;
}

.sp-table{
  margin-top : 5px;
  margin-left : auto;
  margin-right : auto;
  margin-bottom : 5px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-top-color : #d8d8d8;
  border-left-color : #d8d8d8;
  width : 100%;
  display : table;
  border-collapse : collapse;
}

.sp-table > * > tr > td{
  padding-top : 5px;
  padding-left : 8px;
  padding-right : 8px;
  padding-bottom : 5px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-right-style : solid;
  border-bottom-style : solid;
  border-right-color : #d8d8d8;
  border-bottom-color : #d8d8d8;
}

.sp-table > * > tr > th{
  padding-top : 5px;
  padding-left : 8px;
  padding-right : 8px;
  padding-bottom : 5px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-right-style : solid;
  border-bottom-style : solid;
  border-right-color : #d8d8d8;
  border-bottom-color : #d8d8d8;
}

.sp-table > * > tr > th.col-title{
  background-color : rgba(0, 0, 0, 0.0625);
}

.sp-table > * > tr > th.row-title{
  background-color : rgba(0, 0, 0, 0.0625);
}

.sp-wp-post-list{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 2em;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 2em;
}

.sp-wp-post-list .navigation-post{
  margin-top : 0.67em;
}

.sp-wp-post-list .navigation-post .nav-next{
  margin-right : 10px;
  float : right;
}

.sp-wp-post-list .navigation-post .nav-previous{
  margin-left : 10px;
  float : left;
}

.sp-wp-post-list .navigation-post::after{
  clear : both;
  display : table;
  content : "";
}

.sp-wp-post-list .navigation-post > h1{
  display : none;
}

.sp-wp-post-list > article{
  margin-top : 0.67em;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0.67em;
}

.sp-wp-post-list > h3{
  background-color : #f4f4f4;
  background-image : none;
  background-repeat : repeat;
  background-attachment : scroll;
  background-position : 0% 0%;
  background-clip : border-box;
  background-origin : padding-box;
  background-size : auto auto;
}

a{
  color : #4283ec;
  text-decoration : underline;
  outline-width : medium;
  outline-style : none;
  outline-color : black;
}

a:active{
  color : #cc0000;
  text-decoration : none;
}

a:focus{
  color : #cc0000;
  text-decoration : none;
}

a:visited{
  color : #1765e4;
}

a:hover{
  color : #cc0000;
  text-decoration : none;
}

article{
  display : block;
}

aside{
  display : block;
}

body{
  font-size : 1.3rem;
  font-family : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
  line-height : 1.5;
  color : #333333;
  background-color : #ffffff;
  text-align : left;
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  word-wrap : break-word;
}

body.home .sp-site-branding2 > .extra{
  display : block;
}

body.home .sp-site-branding2 > .site-description{
  display : block;
}

details{
  display : block;
}

dl{
  margin-top : 0px;
  box-sizing : border-box;
}

figcaption{
  display : block;
}

figure{
  display : block;
}

footer{
  display : block;
}

h1{
  margin-top : 0px;
  box-sizing : border-box;
}

h2{
  margin-top : 0px;
  box-sizing : border-box;
}

h3{
  margin-top : 0px;
  box-sizing : border-box;
}

h4{
  margin-top : 0px;
  box-sizing : border-box;
}

h5{
  margin-top : 0px;
  box-sizing : border-box;
}

h6{
  margin-top : 0px;
  box-sizing : border-box;
}

header{
  display : block;
}

hgroup{
  display : block;
}

html{
  font-size : 62.5%;
}

main{
  display : block;
}

nav{
  display : block;
  box-sizing : border-box;
}

ol{
  margin-top : 0px;
  box-sizing : border-box;
}

p{
  margin-top : 0px;
  box-sizing : border-box;
}

section{
  display : block;
}

summary{
  display : block;
}

table{
  margin-top : 0px;
  box-sizing : border-box;
}

ul{
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  box-sizing : border-box;
}

@media not screen, screen and (min-width: 569px) {

  #colophon {
  }

  #colophon-inner{
    padding-top : 0px;
    padding-left : 20px;
    padding-right : 20px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 0px;
    width : 1000px;
    box-sizing : content-box;
  }

  #content{
    position : relative;
  }

  #contenthead{
    position : static;
  }

  #contenthead > a{
    background-color : #343740;
    margin-left : -100%;
    margin-right : -100%;
  }

  #main{
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 0px;
    width : 1000px;
    position : static;
    box-sizing : content-box;
  }

  #main-inner{
    float : left;
  }

  #main-inner #contenthead{
    overflow : hidden;
  }

  #main-inner #contenthead > a{
    margin-left : 0px;
    margin-right : 0px;
  }

  #masthead{
    margin-bottom : 0px;
  }

  #masthead-inner{
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 0px;
    width : 1000px;
    position : relative;
    box-sizing : content-box;
  }

  #page{
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 0px;
    overflow : hidden;
  }

  #primary{
    float : right;
  }

  .sp-google-map{
    width : 400px;
    min-height : 300px;
  }

  .sp-site-branding2{
    padding-top : 20px;
  }

  .sp-site-branding2 .extra{
    width : 50%;
    position : absolute;
    bottom : 0px;
    right : 0px;
  }

  .sp-site-branding2 .extra > p{
    font-size : 1.3rem;
    color : #929292;
    text-align : right;
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
  }

  .sp-site-branding2 .extra > p.indent{
    padding-left : 1em;
  }

  .sp-site-branding2 .extra > p.large{
    font-size : 1.5rem;
  }

  .sp-site-branding2 .site-description{
    text-align : right;
    width : 100%;
    height : auto;
    position : absolute;
    top : 15px;
  }

  .sp-site-branding2 .site-title{
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    height : 66px;
    float : left;
  }

  .sp-site-branding2 .site-title a{
    height : 100%;
    display : block;
  }

  .sp-site-navigation.horizontal ul{
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    list-style-type : none;
    list-style-position : outside;
  }

  .sp-site-navigation.horizontal ul li.current-menu-ancestor > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current-menu-item > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current_page_ancestor > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current_page_item > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li > a{
    text-decoration : none;
  }

  .sp-site-navigation.horizontal ul li > a:active{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li > a:hover{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul ul{
    background-color : #ffffff;
    border-top-width : 1px;
    border-left-width : 1px;
    border-right-width : 1px;
    border-bottom-width : medium;
    border-top-style : solid;
    border-left-style : solid;
    border-right-style : solid;
    border-bottom-style : none;
    border-top-color : #3c3f53;
    border-left-color : #3c3f53;
    border-right-color : #3c3f53;
    border-bottom-color : initial;
    width : auto;
    min-width : 150px;
    display : none;
    position : absolute;
    top : 100%;
    left : 0px;
    z-index : 9999;
  }

  .sp-site-navigation.horizontal ul ul li{
    border-bottom-width : 1px;
    border-bottom-style : solid;
    border-bottom-color : #3c3f53;
    width : 100%;
    white-space : nowrap;
  }

  .sp-site-navigation.horizontal ul ul li > a{
    padding-top : 5px;
    padding-left : 1em;
    padding-right : 1em;
    padding-bottom : 5px;
    display : block;
  }

  .sp-site-navigation.horizontal > ul::after{
    clear : both;
    display : table;
    content : "";
  }

  .sp-site-navigation.horizontal > ul > li{
    float : left;
    position : relative;
  }

  .sp-site-navigation.horizontal > ul > li:hover{
    position : relative;
  }

  .sp-site-navigation.horizontal > ul > li:hover > ul{
    display : block;
  }

  .sp-site-navigation.horizontal > ul > li > a{
    padding-top : 0.5em;
    padding-left : 2em;
    padding-right : 2em;
    padding-bottom : 0.5em;
    display : block;
  }

  .sp-site-navigation.minimal{
    text-align : center;
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 20px;
  }

  .sp-site-navigation.minimal ul{
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    list-style-type : none;
    list-style-position : outside;
  }

  .sp-site-navigation.minimal ul li:last-child{
    margin-right : 0px;
  }

  .sp-site-navigation.minimal ul li > a:active{
    text-decoration : underline;
  }

  .sp-site-navigation.minimal ul li > a:hover{
    text-decoration : underline;
  }

  .sp-site-navigation.minimal > ul li{
    margin-right : 10px;
    display : inline;
  }

  .sp-site-navigation.minimal > ul ul{
    margin-left : 10px;
    display : inline;
  }

  .sp-yahoo-map{
    width : 400px;
    min-height : 300px;
  }

  body{
    min-width : 1000px;
  }
}

@media not screen, screen and (min-width: 569px) {

  #content{
    width : 100%;
    float : right;
  }

  #contenthead{
    width : 1000px;
  }

  #main-inner{
    margin-top : 40px;
    width : 1000px;
  }

  #primary{
    width : 670px;
  }

  #sidebar1{
    width : 280px;
    float : left;
  }

  .sp-site-branding2 > .extra{
    padding-left : 1000px;
    padding-right : 1000px;
    margin-left : -1000px;
    margin-right : -1000px;
    width : 300%;
    bottom : -661px;
    right : 0px;
  }

  .sp-site-branding2 > .site-description{
    padding-left : 1000px;
    padding-right : 1000px;
    margin-left : -1000px;
    margin-right : -1000px;
    width : 300%;
    bottom : -603px;
    right : 0px;
  }

  body.home #main-inner{
    margin-top : 170px;
  }
}

@media screen and (max-width: 568px) {

  #content{
    padding-left : 10px;
    padding-right : 10px;
    margin-top : 30px;
  }

  #sidebar1{
    margin-top : 10px;
  }

  #sidebar2{
    margin-top : 10px;
  }

  *{
    box-sizing : border-box;
  }

  .sp-block-container{
    padding-top : 0px;
    padding-left : 5px;
    padding-right : 5px;
    padding-bottom : 0px;
  }

  .sp-bread-crumb{
    padding-left : 10px;
    padding-right : 10px;
  }

  .sp-definition-list > dd{
    margin-left : 20px;
  }

  .sp-form input{
    width : 90%;
  }

  .sp-form input[type="submit"] {
  }

  .sp-form table{
    border-top-width : 1px;
    border-top-style : solid;
    border-top-color : #d8d8d8;
  }

  .sp-form td{
    width : auto;
    display : block;
  }

  .sp-form textarea{
    width : 90%;
  }

  .sp-form th{
    width : auto;
    display : block;
  }

  .sp-google-map{
    width : 100%;
    min-height : 300px;
  }

  .sp-image{
    max-width : 100%;
    height : auto;
  }

  .sp-sidebar{
    padding-left : 10px;
    padding-right : 10px;
    margin-top : 30px;
  }

  .sp-site-branding2 .extra{
    padding-top : 5px;
  }

  .sp-site-branding2 .extra > p{
    font-size : 1rem;
    color : #929292;
    text-align : left;
    padding-top : 0px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    width : 100%;
  }

  .sp-site-branding2 .site-description{
    text-align : center;
  }

  .sp-site-branding2 .site-title{
    text-align : center;
  }

  .sp-site-navigation .menu-toggle{
    background-color : rgba(0, 0, 0, 0.3);
    padding-top : 10px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 10px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    cursor : pointer;
  }

  .sp-site-navigation ul{
    list-style-type : none;
    list-style-position : outside;
  }

  .sp-site-navigation.button-menu .menu-toggle{
    display : block;
  }

  .sp-site-navigation.button-menu ul ul{
    display : block;
  }

  .sp-site-navigation.button-menu ul.toggled-on{
    display : block;
  }

  .sp-site-navigation.button-menu > ul{
    display : none;
  }

  .sp-site-navigation.horizontal{
    padding-top : 0px;
    margin-top : 10px;
    position : relative;
  }

  .sp-site-navigation.horizontal ul{
    background-color : #ffffff;
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    width : auto;
    height : auto;
  }

  .sp-site-navigation.horizontal ul li{
    padding-left : 0px;
    border-left-width : 0px;
    width : auto;
    float : none;
  }

  .sp-site-navigation.horizontal ul li.current-menu-ancestor > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current-menu-item > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current_page_ancestor > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current_page_item > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li > a{
    line-height : 24px;
    padding-top : 8px;
    padding-left : 25px;
    padding-right : 10px;
    padding-bottom : 7px;
    float : none;
    display : block;
  }

  .sp-site-navigation.horizontal ul li > a:active{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li > a:hover{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul ul{
    background-color : transparent;
    border-top-width : medium;
    border-left-width : medium;
    border-right-width : medium;
    border-bottom-width : medium;
    border-top-style : none;
    border-left-style : none;
    border-right-style : none;
    border-bottom-style : none;
    border-top-color : initial;
    border-left-color : initial;
    border-right-color : initial;
    border-bottom-color : initial;
    width : auto;
    min-width : 150px;
    display : block;
    position : relative;
    top : 100%;
    left : 0px;
    z-index : 9999;
  }

  .sp-site-navigation.horizontal ul ul li{
    border-bottom-width : medium;
    border-bottom-style : none;
    border-bottom-color : initial;
  }

  .sp-site-navigation.horizontal ul ul li > a{
    padding-top : 8px;
    padding-left : 50px;
    padding-right : 50px;
    padding-bottom : 8px;
    border-bottom-width : medium;
    border-bottom-style : none;
    border-bottom-color : initial;
  }

  .sp-site-navigation.minimal{
    text-align : center;
    margin-bottom : 20px;
  }

  .sp-site-navigation.minimal ul{
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    list-style-type : none;
    list-style-position : outside;
  }

  .sp-site-navigation.minimal ul li{
    display : block;
  }

  .sp-site-navigation.minimal ul li > a{
    display : block;
  }

  .sp-site-navigation.minimal ul li > a:hover{
    text-decoration : underline;
  }

  .sp-table{
    display : block;
    overflow-x : auto;
  }

  .sp-yahoo-map{
    width : 100%;
    min-height : 300px;
  }

  body.home #main-inner{
    margin-top : 155px;
  }

  embed{
    max-width : 100%;
  }
}

#breadcrumb-list{
  font-size : 1rem;
  color : #333333;
  background-color : #f5f5f5;
  padding-top : 1em;
  padding-bottom : 1em;
  margin-top : 0px;
  box-sizing : border-box;
}

#breadcrumb-list a{
  color : #4283ec;
  text-decoration : underline;
}

#breadcrumb-list a:hover{
  color : #cc0000;
}

#breadcrumb-list div{
  display : inline-block;
}

@media not screen, screen and (min-width: 569px) {

  #breadcrumb-list{
    padding-left : 1000px;
    padding-right : 1000px;
    margin-left : -1000px;
    margin-right : -1000px;
  }
}

@media screen and (max-width: 568px) {

  #breadcrumb-list{
    padding-top : 1em;
    padding-left : 20px;
    padding-right : 20px;
    padding-bottom : 1em;
  }
}

#sp-button-1{
  margin-bottom : 2px;
  width : 122px;
}

#sp-button-1 > a{
  font-size : 1.2rem;
  color : #ffffff;
  background-color : #4283ec;
  text-decoration : none;
  text-align : center;
  padding-top : 6px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 6px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #4283ec;
  border-left-color : #4283ec;
  border-right-color : #4283ec;
  border-bottom-color : #4283ec;
  border-top-left-radius : 0px 0px;
  border-top-right-radius : 0px 0px;
  border-bottom-right-radius : 0px 0px;
  border-bottom-left-radius : 0px 0px;
}

.page-toppage#content #page-content{
  padding-top : 20px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 20px;
  margin-bottom : 1.5em;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #d5d5d5;
  border-left-color : #d5d5d5;
  border-right-color : #d5d5d5;
  border-bottom-color : #d5d5d5;
}

.page-toppage#content #page-content > blockquote{
  background-color : #f5f5f5;
  padding-top : 1.5em;
  padding-left : 1.5em;
  padding-right : 1.5em;
  padding-bottom : 1.5em;
  margin-bottom : 1.5em;
}

.page-toppage#content #page-content > blockquote > *:last-child{
  margin-bottom : 0px;
}

.page-toppage#content #page-content > h1{
  font-size : 1.8rem;
  font-weight : bold;
  padding-bottom : 5px;
  margin-bottom : 1em;
  border-bottom-width : 3px;
  border-bottom-style : solid;
  border-bottom-color : #d5d5d5;
}

.page-toppage#content #page-content > h2{
  font-size : 1.8rem;
  font-weight : bold;
  padding-bottom : 5px;
  margin-bottom : 1em;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #d5d5d5;
}

.page-toppage#content #page-content > h3{
  font-size : 1.6rem;
  font-weight : normal;
  padding-bottom : 5px;
  margin-bottom : 1em;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #d5d5d5;
}

.page-toppage#content #page-content > h4{
  font-size : 1.5rem;
  font-weight : normal;
  padding-bottom : 5px;
  margin-bottom : 1em;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #d5d5d5;
}

.page-toppage#content #page-content > h5{
  font-size : 1.4rem;
  font-weight : normal;
  padding-bottom : 5px;
  margin-bottom : 1em;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #d5d5d5;
}

.page-toppage#content #page-content > h6{
  font-size : 1.3rem;
  font-weight : normal;
  padding-bottom : 5px;
  margin-bottom : 1em;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #d5d5d5;
}

.page-toppage#content #page-content > hr{
  margin-bottom : 1.5em;
  border-top-width : 1px;
  border-top-style : solid;
  border-top-color : #d5d5d5;
}

.page-toppage#content #page-content > ins{
  background-color : #fff9c0;
  text-decoration : none;
  padding-top : 5px;
  padding-left : 3px;
  padding-right : 3px;
  padding-bottom : 5px;
}

.page-toppage#content #page-content > ol{
  padding-top : 0px;
  padding-left : 13px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 18px;
  list-style-position : inside;
}

.page-toppage#content #page-content > ol ol{
  margin-bottom : 0px;
}

.page-toppage#content #page-content > p{
  margin-top : 0px;
  margin-bottom : 1.5em;
}

.page-toppage#content #page-content > pre{
  background-color : #ffffff;
  padding-top : 20px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 20px;
  overflow : auto;
  word-wrap : normal;
}

#sp-block-container-1, #sp-block-container-2{
  color : white;
  background-color : #44474f;
}

#sp-block-container-1 .copyright, #sp-block-container-2 .copyright{
  color : #ffffff;
  text-align : center;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
}

@media not screen, screen and (min-width: 569px) {

  #sp-block-container-1, #sp-block-container-2{
    padding-top : 25px;
    padding-left : 1000px;
    padding-right : 1000px;
    padding-bottom : 25px;
    margin-top : 0px;
    margin-left : -1000px;
    margin-right : -1000px;
    margin-bottom : 0px;
  }
}

@media screen and (max-width: 568px) {

  #sp-block-container-1, #sp-block-container-2{
    padding-top : 1em;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 1em;
  }
}

#sp-column-1{
  color : #333333;
  background-color : white;
  margin-bottom : 1.5em;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #d5d5d5;
  border-left-color : #d5d5d5;
  border-right-color : #d5d5d5;
  border-bottom-color : #d5d5d5;
}

#sp-column-1 .column-body{
  padding-top : 2em;
  padding-left : 2em;
  padding-right : 2em;
  padding-bottom : 2em;
}

#sp-column-1 .column-body > ul{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  list-style-type : none;
  list-style-position : outside;
}

#sp-column-1 .column-body > ul > li{
  background-image : url(img/icon-list1.png);
  background-repeat : no-repeat;
  background-position : left 7px;
  padding-left : 20px;
  margin-bottom : 1em;
}

#sp-column-1 .column-body > ul > li:last-child{
  margin-bottom : 0px;
}

#sp-column-1 .column-label{
  background-color : #343740;
}

#sp-column-1 .column-label h3{
  font-size : 1.8rem;
  font-weight : bold;
  color : white;
  padding-top : 10px;
  padding-left : 15px;
  padding-right : 15px;
  padding-bottom : 10px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  border-bottom-width : medium;
  border-bottom-style : none;
  border-bottom-color : initial;
}

.accordion#sp-column-1 .column-body{
  display : none;
}

.accordion#sp-column-1 .column-label h3{
  background-image : url(img/btn-column-toggle-down.png);
  background-repeat : no-repeat;
  background-position : right center;
  padding-right : 50px;
}

.accordion#sp-column-1 .column-label h3::after{
  display : none;
}

.toggled-on#sp-column-1 .column-body{
  display : block;
}

.toggled-on#sp-column-1 .column-label h3{
  background-image : url(img/btn-column-toggle-up.png);
  padding-right : 50px;
}

.toggled-on#sp-column-1 .column-label h3::before{
  display : none;
}

#sp-image-1{
  text-decoration : none;
  border-top-left-radius : 6px 6px;
  border-top-right-radius : 6px 6px;
  border-bottom-right-radius : 6px 6px;
  border-bottom-left-radius : 6px 6px;
  box-shadow : 0px 3px 4px rgba(0, 0, 0, 0.5);
  max-width : 100%;
}

#sp-page-title-1{
  background-color : #ffb8b8;
  background-image : none;
  background-repeat : repeat;
  background-attachment : scroll;
  background-position : 0% 0%;
  background-clip : border-box;
  background-origin : padding-box;
  background-size : auto auto;
  margin-top : 0px;
  margin-left : auto;
  margin-right : auto;
  margin-bottom : 0px;
  border-left-width : 16px;
  border-bottom-width : 1px;
  border-left-style : solid;
  border-bottom-style : solid;
  border-left-color : #ffebeb;
  border-bottom-color : #ffebeb;
  width : 100%;
  height : auto;
}

#sp-page-title-1 > h1{
  font-size : 20px;
  color : #555555;
  padding-top : 15px;
  padding-left : 10px;
  padding-right : 10px;
  padding-bottom : 0px;
}

@media not screen, screen and (min-width: 569px) {

  #sp-button-1{
    width : 221px;
  }

  #sp-image-1{
    width : 488px;
    height : 189px;
  }
}